body {
    background: thistle;
}

.new-item{
    color: green;
}

.my-header{
    width: 100%;
    height:  60px;
    display: flex;
    justify-content: space-between;
    padding:5px;
}

.myImg{
    position: relative;
    height: 90%;   
}

.my-header >div {
    width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.my-header >div:first-child {
justify-content: flex-start;
padding-left:10px;
}