body {
    background: thistle;
}

.new-item{
    color: green;
}

.my-header{
    width: 100%;
    height:  fit-content;
    display: flex;
    justify-content: space-between;
    padding:5px;
}

.myImg{
    position: relative;
    height: 50px;   
}

.my-header >div {
    width: 30%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.my-header >div:first-child {
justify-content: flex-start;
padding-left:10px;
}

.important{
    color: red;
    font-size: 0.8rem;
    font-weight: 600; 
    margin-right: 2%;
}

.myList{
    width: 100%;
}

.my-list-item{
    width: 51%;
    display: inline-block; 
}

.my-date{
    margin-left: 2%; 
}

.description{
    width: 30%; 
    display: inline-block
}

.reminder{
    cursor: pointer;
}

.reminder-settings{
    display: none; 
}